/*  Home page style  */

/* Scrollbar */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #252734;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #ffaf29;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #acadb2;
}

.homePageContainer {
  width: 100%;
}
