/*  Project details style   */
.projectDetailsContainer {
    top: 5%;
    left: 5%;
    position: fixed;
    height: 90vh;
    width: 90%;
    background-color: #252734;
    z-index: 2;
    font-family: 'Open Sans', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
}

.closeDetailsButton {
    position: absolute;
    top: 5%;
    right: 5%;
    background-color: #252734;
    border: solid 1px #ACADB2;
    color: #ACADB2;
    padding: 10px 15px;
    cursor: pointer;
    font-family: 'Open Sans', sans-serif;
    transition: ease-in-out 200ms;
}
.closeDetailsButton:hover {
    border-color: lightcoral;
    color: lightcoral;
}

.projectDetailsContainer h3 {
    color: #EBEBEC;
}

.projectDetailsContainer h2 {
    color: #FFAF29;
}

.projectDetailsContainer p {
    color: #ACADB2;
}

.firstColDetails {
    display: flex;
    flex-direction: column;
    width: 65%;
    height: 90%;
}

.screenshotsContainer {
    width: 100%;
    height: 20%;
}

.secondColDetails {
    display: flex;
    padding: 25px;
    box-sizing: border-box;
    flex-direction: column;
    text-align: start;
    width: 25%;
    height: 90%;
}

.githubLinkDetails {
    margin: 25px 0 0 0;
    text-align: center;
    text-decoration: none;
    width: 150px;
    background-color: #252734;
    border: solid 1px #EBEBEC;
    padding: 10px 15px;
    color: #EBEBEC;
    cursor: pointer;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    transition: ease-in-out 200ms;
}
.githubLinkDetails:hover {
    border-color: #FFAF29;
    color: #FFAF29;
}