/*  Selected projects */

.projectOverview {
  display: flex;
  flex-direction: column;
  background-color: #252734;
  width: 100%;
  margin: 1rem 0;
  padding: 2rem 1.5rem;
  box-sizing: border-box;
  transition: ease 0.3s;
}

.projectOverviewDark {
  background-color: #424657;
}

.selectedProjects {
  margin-top: 25px;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.selectedProjectsContent {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.firstColumnSelectedProjects {
  width: 50%;
  text-align: start;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.projectsLastMonthsText {
  width: 300px;
}

.imageContainer {
  width: 100%;
  transition: ease-in-out 0.3s;
  height: 100%;
}

.projectImage {
  height: 100%;
}

.projectTextContainer {
  width: 100%;
  padding: 1rem 0;
  color: #ebebec;
  text-align: start;
  font-family: "Open Sans", sans-serif;
  box-sizing: border-box;
}

.projectDescriptionContainer {
  width: 50%;
  padding-right: 1rem;
  box-sizing: border-box;
}

.projectTechsContainer {
  width: 25%;
  padding-right: 1rem;
  box-sizing: border-box;
}

.columnButtonsText {
  width: 20%;
  display: flex;
  flex-direction: column;
  width: 20%;
  align-items: flex-start;
}

.textLeft {
  padding-right: 1rem;
}

.textRight {
  padding-left: 1rem;
}

.projectTitle {
  margin: 0 0 0.2rem;
  width: 100%;
  text-align: start;
  color: #ebebec;
}

.underlineProjectTitle {
  background-color: #ffaf29;
  height: 0.2rem;
  width: 2rem;
}

@media (max-width: 1060px) {
  .projectOverview {
    flex-direction: column;
    height: auto;
  }

  .projectDescriptionContainer,
  .projectTechsContainer,
  .columnButtonsText {
    width: 100%;
    padding: 0;
  }

  .projectDescriptionContainer,
  .projectTechsContainer {
    margin-bottom: 1rem;
  }

  .projectTextElementsContainers {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}
