/*  Selected projects */

.projectOverview {
  display: flex;
  flex-direction: column;
  background-color: #252734;
  width: 100%;
  margin: 1rem 0;
  padding: 2rem 1.5rem;
  box-sizing: border-box;
  transition: ease 0.3s;
}

.projectOverviewDark {
  background-color: #424657;
}

.selectedProjects {
  margin-top: 25px;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.selectedProjectsContent {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.firstColumnSelectedProjects {
  width: 50%;
  text-align: start;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.projectsLastMonthsText {
  width: 300px;
}

.imageContainer {
  width: 100%;
  transition: ease-in-out 0.3s;
  height: 100%;
}

.projectImage {
  height: 100%;
}

.textLeft {
  padding-right: 1rem;
}

.textRight {
  padding-left: 1rem;
}

.projectTitle {
  margin: 0 0 0.2rem;
  width: 100%;
  text-align: start;
  color: #ebebec;
}

.underlineProjectTitle {
  background-color: #ffaf29;
  height: 0.2rem;
  width: 2rem;
}

@media (max-width: 1060px) {
  .projectOverview {
    flex-direction: column;
    height: auto;
  }
}
