/*  Selected projects */

.projectOverview {
  display: flex;
  flex-direction: row;
  background-color: #252734;
  width: 100%;
  height: 22rem;
  margin: 1rem 0;
  padding: 2rem 1.5rem;
  box-sizing: border-box;
  transition: ease 0.3s;
  cursor: pointer;
}
.projectOverview:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

.projectOverviewDark {
  background-color: #424657;
}

.selectedProjects {
  margin-top: 25px;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.selectedProjectsContent {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.firstColumnSelectedProjects {
  width: 50%;
  text-align: start;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.projectsLastMonthsText {
  width: 300px;
}

.firstColumnSelectedProjects h2 {
  color: #ebebec;
  margin-top: 1rem;
}

.firstColumnSelectedProjects p {
  color: #acadb2;
}

.imageContainer {
  width: 60%;
  transition: ease-in-out 0.3s;
  cursor: pointer;
}

.projectTextContainer {
  width: 40%;
  color: #ebebec;
  text-align: start;
  font-family: "Open Sans", sans-serif;
  box-sizing: border-box;
}

.textLeft {
  padding-right: 1rem;
}

.textRight {
  padding-left: 1rem;
}

.projectTitle {
  margin: 0;
  padding-bottom: 0.2rem;
}

.underlineProjectTitle {
  background-color: #ffaf29;
  height: 0.2rem;
  width: 2rem;
}

.projectImage {
  width: 100%;
  max-height: 100%;
}

@media (max-width: 1060px) {
  .projectOverview {
    flex-direction: column;
    height: auto;
  }

  .imageContainer {
    width: 100%;
  }

  .projectTextContainer {
    padding-top: 1rem;
    width: 100%;
  }
}
